// Copyright 2023 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 1

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/34/ferris.h"
#include "../miryoku/miryoku.dtsi"

#define GAME 8

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};

&msc {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

&keymap {
    game_layer {
        display-name = "GAME";
        bindings = <
            &kp TAB   &kp Q    &kp W    &kp E    &kp R         &none &none &none &none &none
            &kp LSHFT &kp A    &kp S    &kp D    &kp F         &none &none &none &none &none
            &kp LCTRL &kp Z    &kp X    &kp C    &kp V         &none &none &none &none &none
                               &kp ESC  &kp SPC                &none &none
        >;
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_game_toggle {
            timeout-ms = <80>;
            key-positions = <20 24 33 34>;
            bindings = <&tog GAME>;
        };
    };
};
